.notification-dialog {
  width: 700px;
  min-height: 790px;
  margin: auto;
  margin-top: 5vh;

  &__button-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--el-fill-color-light);
    padding: 20px;

    .btn {
      color: var(--el-color-primary);
      border: 1px solid var(--el-color-primary-light-5);
      background-color: var(--el-color-primary-light-9);
      padding: 18px;

      &:hover {
        background-color: var(--el-color-primary) !important;
        color: var(--el-color-white);
      }
    }

    .fill-btn {
      background-color: var(--el-color-primary);
      color: var(--el-text-color-overlay);
      padding: 18px;

      &:hover {
        background-color: var(--el-color-primary-dark-2);
      }
    }
  }

  .el-dialog__header {
    background-color: var(--el-color-primary);
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px !important;
    padding-top: 10px;
  }

  .el-dialog__title {
    color: var(--el-text-color-overlay);
  }

  .el-transfer-panel__filter {
    .el-icon {
      color: var(--el-color-primary-light-5);
    }
  }

  .el-dialog__headerbtn .el-dialog__close,
  .el-dialog__headerbtn .el-dialog__close {
    color: var(--el-color-primary-light-5);

    &:focus,
    :hover {
      color: var(--el-color-primary-light-9);
    }
  }

  .el-dialog__body {
    padding: 0;
  }

  .el-steps--simple {
    height: 40px;
  }
}
